.issueItem {
  width: 100%;
  min-height: 50px;
  border-bottom: solid 5px rgba(112, 76, 182, 0.5);
  overflow-y:  auto;

  &:hover {
    background-color: rgba(112, 76, 182, 0.5);
  }
  .on {
    font-size: 16px;
    padding: 16px;
    width: 10%;
    text-align: left;
    margin-right: 8px;
  }

  .off {
    display: none;
  }


  .issueItem-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 8px;

    .issueItem-image {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 16px;
      margin-bottom: 8px;
      margin-left: 8px;
    }

    span {
      display: block;
    }
  }
}
