.listItem {
  width: 100%;
  height: 100px;
  background-color: rgba(112, 76, 182, 0.1);
  border-bottom: solid 5px rgba(112, 76, 182, 0.5);
  display: flex;

  &.selected {
    background-color: rgba(112, 76, 182, 0.5);
  }

  &:hover {
    background-color: rgba(112, 76, 182, 0.5);
  }

  .listItem-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    vertical-align: middle;
    padding-left: 16px;
    flex-direction: column;
    align-self: center;
  }
}
