.header {
  text-align: center;
  background-color: rgba(112, 76, 182, 0.1);
  width: 100%;
  height: 20%;
  font-size: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 100%;
  height: 100%;
  border: solid 1px #000;
  display:flex;

  .sub-header {
    background-color: rgba(112, 76, 182, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    padding-left: 16px;
  }

  .content-left {
    width: 25%;
  }

  .content-right {
    width: 75%;

  }


  .button {
    appearance: none;
    background: none;
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent;
    color: rgb(112, 76, 182);
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 2px;
    transition: all 0.15s;
    flex-direction: row;
    align-self: center;
    display: flex;

    &:hover, &:focus {
      border: 2px solid rgba(112, 76, 182, 0.4);
    }

   &:active {
     background-color: rgba(112, 76, 182, 0.2);
    }
  }
}
